<div>
  <link href="./practice.css" rel="stylesheet" />
  <div class="practice-practice">
    <div class="practice-heading">
      <h3 class="practice-header"><span>Custom Web Development</span></h3>
      <p class="practice-caption">
        <span>
          Our custom web development services encompass designing and
          engineering specialized web-based software solutions to achieve key
          business goals. This includes crafting full-featured web applications,
          content management systems, ecommerce platforms optimized for sales,
          and SaaS products tailored to your offering.
        </span>
      </p>
    </div>
    <div class="read-more">
      <span class="practice-text">Read more</span>
      <img alt="image" src="public/Icons/arrow-2.svg" class="practice-image" />
    </div>
  </div>
</div>
